<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207911893321-5jg1brr35cdtotdfp8s5jq0kcg7hgmev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207911893321-5jg1brr35cdtotdfp8s5jq0kcg7hgmev</string>
	<key>API_KEY</key>
	<string>AIzaSyDleahQ-jQmG3SmfchwEEUdPjAgKrL8cwA</string>
	<key>GCM_SENDER_ID</key>
	<string>207911893321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cocoapods.demo.BlogEasy-Example1</string>
	<key>PROJECT_ID</key>
	<string>blogeasytemp</string>
	<key>STORAGE_BUCKET</key>
	<string>blogeasytemp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207911893321:ios:de45cb61aa25f2be228298</string>
</dict>
</plist>